<div class="main_card__wrapper">
  <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
    <div class="spaceAboveGridList"></div>
    <mat-grid-list cols = "6" rowHeight="200px">
      <mat-grid-tile [colspan] = "1"[rowspan] = "2"></mat-grid-tile>
      <mat-grid-tile [colspan] = "4" [rowspan] = "2" fxLayoutAlign="center center">
        <mat-card class="main_question__card">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title class="applyGoogleFont titleFontSize">{{question2}}</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayoutAlign="center">

            <div class="button_answer__wrapper" fxLayoutAlign="center">

              <mat-form-field appearance="fill">
                <mat-select placeholder="Wybierz rok urodzenia"
                            formControlName="yearOfBirth">
                  <mat-option *ngFor="let yearOfBirth of years" [value]="yearOfBirth">{{yearOfBirth}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

          </mat-card-content>

          <mat-card-actions>
            <div fxFlex></div>
            <button mat-raised-button color="accent"
                    type="submit"
                    [disabled]="!questionnaireForm.valid">Przejdź dalej</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan] = "1"[rowspan] = "2"></mat-grid-tile>
    </mat-grid-list>
    <div class="spaceUnderGridList"></div>
  </form>
</div>
