<div class="main_card__wrapper">
  <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols = "6" rowHeight="200px">
      <mat-grid-tile [colspan] = "1"[rowspan] = "2"></mat-grid-tile>
      <mat-grid-tile [colspan] = "4" [rowspan] = "2" fxLayoutAlign="center center">

        <mat-card class="main_question__card">

          <mat-card-header fxLayoutAlign="center">
            <mat-card-title class="card_title">{{question3}}</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayoutAlign="center">
            <div class="button_answer__wrapper">
              <mat-radio-group class="form-control" formControlName="yesNoAnswer">
                <ul class="items answers-list">
                  <li class="answer" fxLayoutAlign="center"
                      [ngStyle]="{'background-color': currentIndex === i ? '#F5F5F5':'transparent'}"
                      *ngFor="let yesNoAnswer of answers, let i = index">
                    <div (click)="passIndexValue(i)">
                      <mat-radio-button
                        class="applyGoogleFont"
                        [value]="yesNoAnswer">
                        <p>{{yesNoAnswer}}</p>
                      </mat-radio-button>
                    </div>
                  </li>
                </ul>
              </mat-radio-group>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="goBack()">Cofnij</button>
            <div fxFlex></div>
            <button mat-raised-button
                    color="warn"
                    type="submit"
                    [disabled]="!questionnaireForm.valid">{{nextStepButtonText}}</button>
          </mat-card-actions>

        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile [colspan] = "1"[rowspan] = "2"></mat-grid-tile>
    </mat-grid-list>
    <div class="spaceUnderGridList"></div>
  </form>
</div>
