.answers-list {
  list-style: none;
}

.answer {
  border: solid 1px #F5F5F5;
  border-radius: 5px;
  padding: 20px 10px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

::ng-deep .mat-radio-button .mat-radio-container {
  width: 0;
  visibility: hidden;
}
