  <div class="main_card__wrapper">
    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols = "6" rowHeight="200px">
      <mat-grid-tile [colspan] = "1"[rowspan] = "2"></mat-grid-tile>
      <mat-grid-tile [colspan] = "4" [rowspan] = "2" fxLayoutAlign="center center">
        <mat-card class="main_question__card">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title class="card_title">{{question1}}</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayoutAlign="center">
            <div class="button_answer__wrapper">
              <div class="radio" *ngFor="let gender of genders">
                <label>
                  <input
                    type="radio"
                    class="button_answer__layout"
                    formControlName="gender"
                    [value]="gender">{{ gender }}
                </label>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>

            <div fxFlex></div><button mat-raised-button
                                      color="warn"
                                      type="submit"
                                      [disabled]="!questionnaireForm.valid">{{nextStepButtonText}}</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan] = "1"[rowspan] = "2"></mat-grid-tile>
    </mat-grid-list>
    <div class="spaceUnderGridList"></div>
    </form>
  </div>
