<div class="spaceAboveGridList"></div>
<mat-grid-list cols = "6" rowHeight="200px">
    <mat-grid-tile [colspan] = "1"[rowspan] = "3">
        1
    </mat-grid-tile>

    <mat-grid-tile [colspan] = "4" [rowspan] = "3">
        
   

        <mat-card class="example-card">
            <mat-card-content>
                content content content content content content
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn">Warn</button>
            </mat-card-actions>
        </mat-card>



    </mat-grid-tile>

    <mat-grid-tile [colspan] = "1"[rowspan] = "3">
        3
    </mat-grid-tile>
</mat-grid-list>

<div class="spaceUnderGridList"></div>