<div class="footer_main">
    <div layout="row" layout-align="center center">
        <h1>
            <a class="socialiconLink" href="https://lekarzrodzinny.blog/" target="_blank"><i class="fas fa-blog socialicon"></i></a>
            <a class="socialiconLink" href="https://www.facebook.com/lekarzrodzinny.blog" target="_blank"><i class="fab fa-facebook socialicon"></i></a>
            <a class="socialiconLink" href="https://twitter.com/lekbiesiada" target="_blank"><i class="fab fa-twitter socialicon"></i></a>
            <a class="socialiconLink" href="https://www.instagram.com/lekarzrodzinny.blog/" target="_blank"><i class="fab fa-instagram socialicon"></i></a>
        </h1>
      </div>
      <p class="applyGoogleFont">© 2020 <a class="familyDocLink" href="https://lekarzrodzinny.blog/" target="_blank">Lekarz Rodzinny.blog</a> - All Rights Reserved.</p>
</div>